:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #4169e1;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

.news, 
.exchanges {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  height: 100vh;
  overflow: hidden;
}

.login,
.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  border-radius: 10px;
  border-style: solid;
  border-color: #000;
}

.login h2,
.signup h2 {
  font-weight: bolder;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  text-align: left;
  padding-left: 5px;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgb(182, 219, 79);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* .space-between {
  justify-content: space-between;
} */

.logForm {
display: flex;
flex-direction: column;
align-items: flex-end;
}
.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

/* Begin Custom Styling */

li {
  padding: 5px;
}

.Home {
  display: flex;
  flex-direction: row-reverse;
}

.cryptotext {
  font-size: 3rem;
}

.navbar {
  align-items: center;
}

.navbarLink {
  width: 20vw;
  left: 30px;
  position: relative;
}

.logout {
  margin-bottom: 0;
}

.formLabel {
  padding-right: 0.5rem;
}

.signlog {
  margin-bottom: 0;
}

#cryptoForm {
  display: flex;
  justify-content: flex-end;
}

.center {
  text-align: center;
}

.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
    padding: 10px;
    border-radius: 10px;
    background: rgba(21, 22, 45, 0.923);
    color: greenyellow;
  
}
/* .searchBox input {
width: 90%;
} */
.searchBox label h5 {
font-size: 1.5rem;
}


.cryptoHeader {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  /* padding: 1rem; */
  margin-top: 1rem;
}

.cryptoHeader input {
  height: 40px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 5px;
  width: 75%;
}

.cryptoDisplay {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-height: 85vh;
  overflow: auto;
}

.footer {
  /* display: none; */
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.footerDiv {
  display: flex;
  justify-content: center;
  height: 40px;
}

.news-items a {
  font-size: 0.75rem;
  padding-left: 10px;
}

.news-items li {
  list-style-type: disclosure-closed;
}
.news-items li::marker {
  font-size: 1.25rem;
}

.news {
  align-items: flex-start;
}

#email, #pwd, #username {
  margin-right: 10px;
}

.logForm .flex-row {
  align-items: flex-end;
}

.logbtn, .signbtn {
  margin: 0.75rem;
}

.gotoSignup, .gotoLogin {
  margin: 0.5rem;
}

/* BEGIN SCROLLBAR STYLING */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  border: 3px solid #97a1b9;
  background-color: #0d314d;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, rgb(47, 225, 231), rgb(121, 255, 108));
}

/*  To customize the sliding buttons*/
::-webkit-scrollbar-button:single-button {
  background-color: #082032;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-radius: 5px 5px 0 0;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-radius: 0px 0px 5px 5px;
  height: 16px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(121, 255, 108)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(6, 222, 225)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

.coin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 25%; */
  height: 250px;
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  /* overflow: auto; */
}

.coin img {
  height: 100px;
  max-width: 100px;
  align-self: center;
}

div.coin:hover {
  background-color: rgb(112, 112, 112);
  color: rgb(188, 255, 53);
  -webkit-text-stroke: 0.5px black;
}

.like-container {
  display: flex;
  justify-content: space-evenly;
}

.like-button {
  display: inline-block;
  position: relative;
  font-size: 16px;
  cursor: pointer;
 /* border: 1px solid black; */
    border: none;
   background:none;
}

.like-button::before {
    font-size: 3em;
    color: #000;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.like-button::after {
    font-size: 3em;
    color: red;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
}
.like-button.liked::after{
  transform: translate(-50%, -50%) scale(1.1);
}

@media screen and (min-width: 1615px) {
  .card {
    width: 100%;
  }
}
@media screen and (min-width: 1201px) {
  #burgerTwo {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1201px) {
  #hello {
    width: 25vw;
  }
}

@media screen and (max-width: 1201px) {
  .navbarLink {
    left: 5px;
  }
}

@media screen and (max-width: 992px) {
  .Home {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  };
}

@media screen and (max-width: 768px) {
  #hello  {
    width: 50vw;
  }
}

@media screen and (max-width: 415px) {
  #hello {
    width: 80vw;
  }
}

@media screen and (max-width: 415px) {
  #burger {
   height: 10px; 
   margin-bottom: 00.75rem;
  }
}

@media screen and (max-width: 415px) {
  label, label h5 {
   margin: 0px;
  }
}

/* @media screen and (max-width: 415px) {
  .footer {
    justify-content: center;
  }
} */




